# Backend Configuration
PORT=5000
MONGO_URI=mongodb://localhost:27017/nostalgia_fm
JWT_SECRET=nostalgia_fm_super_secret_jwt_key_90s_gaana_2026
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Optional Storage Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
